@import url('https://fonts.googleapis.com/css?family=Lato|Russo+One|Montserrat|Pacifico|Righteous|Roboto+Condensed|Ubuntu|Oswald|Metal+Mania');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
body{

    padding: 0%;
    margin: 0%;
    font-family: "Lato";
  
}

.navbar{
    background-color: #35424a;
    border-bottom: #e8491d 3px solid;
    
}

.navbar-brand{

    font-family: "Pacifico";
    font-size: 35px;
    color: lightcoral !important;
}

.nav-link{

    font-size: 18px;
    margin: 14px;
    color: white !important;
    font-family: "Roboto Condensed";

}

.nav-link:hover{
color: #00E8E8 !important;

}

.active .nav-link{
color: #00E8E8 !important;

}

.container-1{
    position: relative;
    margin-left: 2%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  input, button{
      border: none;
      background: none;
      outline: none;
  }
  button{
      cursor: pointer;
  }
  .search-box{
      display: flex;
      background: #2f3640;
      border-radius: 4em;
  }
  .search-box-input{
      width: 0px;
      font-size: 1em;
      color: #fff;
      transition: .5s;
  }
  .search-box-btn{
      display: flex;
      border-radius: 50%;
      width: 4em;
      height: 4em;
      background: white;
      transition: .3s;
  }
  .search-box-icon{
      margin: auto;
      color: black;
  }
  .search-box-input::placeholder{
      color: white;
      opacity: .7;
  }
  .search-box:hover .search-box-input{
      padding-left: 2em;
      padding-right: 1em;
      width: 250px;
  }
  .search-box-btn:active{
      transform: scale(.75);
  }
  footer {
    padding: 20px;
    margin-top: 20px;
    background-color:#e8491d;
    text-align: center;
    font-family: "Montserrat";
    border-top: #35424a 5px solid;
  }
  footer h3,p{
    color: #ffffff;
    text-shadow: 2px 2px black;
    margin-top: 2%;
  }
  footer a{
    color: rgba(52, 152, 219,1.0);
    text-decoration: none;
    
  }
  footer hr{
    color: #35424a;
    background-color: #35424a;
    height: 5px;
  }


.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.shop-item {
    margin: 30px;
}

.shop-item-type{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 5%;
    margin-right: 5%;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-right: 5%;
    margin-left: 10;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 10px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}